<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form th:action="@{/update/movie}" method="post">

        <input type="hidden" name="movieId" th:value="${movie.movieId}" />

        电影名称：<input type="text" name="movieName" th:value="${movie.movieName}" /><br/>
        电影票价格：<input type="text" name="moviePrice" th:value="${movie.moviePrice}" /><br/>

        <button type="submit">更新</button>

    </form>

</body>
</html>